[Desktop Entry]
Comment=Launch kpmenu for password
Terminal=false
Name=Password
Exec=kpmenu --customPromptFields 'echo Password'
Type=Application
Icon=keepassxc
