[Desktop Entry]
Comment=Chrome perso profile
Terminal=false
Name=Perso
Exec=/opt/google/chrome/chrome --restore-last-session --profile-directory="Profile 1"  --password-store=basic
Type=Application
Icon=google-chrome
